.box h3 {
    height: 34px;
    line-height: 34px;
    display: inline-block;
    position: absolute;
    left: 775px;
    top: -12px;
    padding: 0 15px;
    color: #fff;
    /* text-transform: uppercase; */
    border-radius: 5px 5px 0 0;
}
.orangeTitle{
    background-color: #ef8d01;
}